<html>
  <body>


    <h1>Books 1</h1>
    <table>
      {% for book in books %}
        <tr>
          <td>
            {{book.title}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="oldtitle">
              <input type="text" value="{{book.title}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
        {% endfor %}
    </table>


    <h1>Add book 1</h1>
    <form method="POST" action="/add">
      <label for="bookname">Book Name:</label>
      <input type="text" name="title">
      <br>
      <label for="booktype">Book type:</label><br>
      <input type="radio" value="hardcover">
      <label for="radio">Hardcover</label><br>
      <input type="radio" value="softcover">
      <label for="radio">Softcover</label><br>

      <input type="submit" value="Add">
    </form>

  </body>
</html>
